[tool.poetry]
name = "securecookies"
version = "0.1.0"
description = "Secure cookie middleware for Starlette applications."
authors = ["Elias Gabriel <me@eliasfgabriel.com>"]
license = "BSD-3-Clause"
include = ["securecookies/py.typed"]

[tool.poetry.dependencies]
python = "^3.7"
starlette = "^0.20.0"
cryptograpy = "^0.0.0"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
pdoc = "^11.2.0"
requests = "^2.27.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
